.container {
    max-width:1099px;
    width:100%;
    margin:0 auto;
}

.logo{
    float: left;
    width: 20%;
}
.search{
    width: 40%;
    float: left;
    position: relative;
}

.rightsidePart {
    width: 40%;
    float: left;
}

.linkdecoration {
    color: black;
    font-size: 14px;
    text-decoration: none;

}

.linkdecoration:hover{
    color: #FF601D
}

.contulMeu{
    width: 33.3%;
    float: left;
    border-radius: 7px;
    margin-top: 7px;
}

.produseComparate{
    width: 33.3%;
    float: left;
    margin-top: 7px;
}

.cosulMeu{
    width: 33.3%;
    float: left;
    margin-top: 7px;
}

.searchbar{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border-color: #FF601D;
}

.searchIcon{
    position: absolute;
    top: 15px;
    right: 15px;
}

.clearfix{
    clear: both;
}

.categorie{
    width: 50%;
    float: left;
}

.parteaDreapta{
    width: 50%;
    float: left;
}

.produseleZilei{
    float: left;
    width: 20%;
}

.rca{
    float: left;
    width: 20%;
}

.retur{
    float: left;
    width: 20%;
}

.service{
    float: left;
    width: 20%;
}

.contact{
    float: left;
    width: 20%;
}

.laptop{
    float:left;
    padding: 10px;
    margin-top: 10px;
}

.laptop1{
    float: left;
    margin-top: 10px;
    padding: 10px;
}

.laptop2{
    float: left;
    margin-top: 10px;
    padding: 10px;
}

.laptop3{
    float: left;
    margin-top: 10px;
    padding: 10px;
}


.pret{
    color: #FF601D
    
}

.descriptionRows{
    float: left;
}

.descriere{
    float: left;
    padding: 10px;
}

.flex-container{
    display: inline-flex;
    align-self: start;
    padding: 8px;
    background-color: gray;
}

.flex-bar{
    display: inline-flex;
    margin: 10px;
    justify-content: center;
}

.flex-area{
    justify-content: center;
    padding: 15px;
    display: flexbox;
}

.designPhoto{
    display: flex;
    padding: 8px;
    width: 3px;
}

.carousel-slide{
    padding: 10px;
    margin: auto;
}